html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	display: grid;
	grid-gap: 7px;
	grid-template-rows: minmax(100px, 10%) minmax(75px, 7%) auto minmax(100px, 11%);
	grid-template-areas: "header" "navigation" "main" "footer";
}