body {
	margin: 0px;
	display: grid;
	grid-template-rows: minmax(100px, 10%) minmax(75px, 7%) auto minmax(100px, 11%);
	grid-template-areas: "header" "navigation" "main" "footer";
}

header {
	grid-area: header;
	text-align: center;
	background-color: #fffafb;
}

nav {
	grid-area: navigation;
	display: table;
	height: 100%;
	text-align: center;
	background-color: #e2e9ff;
}

main {
	grid-area: main;
	text-align: justify;
	margin: 15px;
}

footer {
	grid-area: footer;
	text-align: center;
	background-color: #e7fbe7;
}

#links {
	display: table-cell;
	vertical-align: middle;
}